@page "/user-payments"
@model Cancoly.Pages.Components.Users.UserPaymentsModel
@{
    Layout = "_MainLayout";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card bg-plane shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8 text-white">Payments</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted text-decoration-none" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item text-white" aria-current="page">Payments</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="text-center mb-n5">
                        <img src="assets/img/brain.png" class="img-fluid mb-n4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="card mb-4">

            <div class="card-body table-responsive">
                <table id="table" class="display table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Service Plan</th>
                            <th>Amount</th>
                            <th>Charge</th>
                            <th>Status</th>
                            <th>Time Stamp</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Transactions != null)
                        {
                            @foreach (var data in @Model.Transactions)
                            {
                                <tr>
                                    <td>@data.Service</td>
                                    <td>@data.Currency @data.Amount.ToString("N")</td>
                                    <td>@data.Currency @((data.Charge / 100).ToString("N"))</td>
                                    <td>@data.Status</td>
                                    <td>@data.DateCreated</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
