@using Cancoly.Persistence.Context
@using Microsoft.EntityFrameworkCore
@inject LayoutDbContext _unitOfWork
@{
    var user = await _unitOfWork.User.Where(x=> x.Email == User.Identity.Name).FirstAsync();
    var tabler = "https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css";
}
<!DOCTYPE html>
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style"
  dir="ltr"
  data-theme="theme-default"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>@ViewData["Title"] Cancoly</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="landing/assets/img/brain.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="@tabler">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Helpers -->
    <script src="assets/vendor/js/helpers.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.7/dist/cdn.min.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="assets/js/config.js"></script>
    <style>
        .bg-plane{
            background:#151b94;
        }
    </style>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <img src="~/logo.png" style="height:40px;"/>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
                <!-- Dashboard -->
                <li class="menu-item active">
                    <a href="/user-dashboard" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Dashboard">Dashboard</div>
                    </a>
                </li>

                <!-- Layouts -->
                <li class="menu-item">
                    <a href="/user-brain-scans" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-layout"></i>
                                <div data-i18n="Scans">Scans</div>
                    </a>
                </li>
                 
                    <li class="menu-item">
                        <a href="/user-reports" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-collection"></i>
                        <div data-i18n="Reports">Reports</div>
                    </a>
                </li>

            
                <li class="menu-item">
                    <a href="/account-profile" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-group"></i>
                    <div data-i18n="Account Settings">Account Settings</div>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a href="/user-payments" class="menu-link ">
                    <i class="menu-icon tf-icons bx bx-credit-card"></i>
                        <div data-i18n="Transactions">Transactions</div>
                    </a>
               
                </li>
                <li class="menu-item">
                    <a href="/user-notifications" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-bell"></i>
                                <div data-i18n="Notification">Notification</div>
                    </a>
                </li>
            
                <li class="menu-item">
                    <a href="/user-support"
                    class="menu-link"
                    >
                    <i class="menu-icon tf-icons bx bx-support"></i>
                    <div data-i18n="Support">Support</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a
                    class="menu-link"
                    href="/"
                    >
                    <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                                <div data-i18n="Home Page">Home Page</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a
                     href="/account-logout"
                    class="menu-link"
                    >
                    <i class="menu-icon tf-icons bx bx-power-off"></i>
                                <div data-i18n="Logout">Logout</div>
                    </a>
                </li>
                @if(User.IsInRole("User"))
                {
                    <li class="menu-item mt-3">
                        <a style="margin-left:20px;" href="/user-plans" target="_blank" class="btn btn-outline-danger btn-buy-now mb-2">Upgrade Account</a>
                   </li>
                }
                
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page" style="height:100vh;overflow:scroll;">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <form method="get" action="/user-brain-scans" class="nav-item d-flex align-items-center">
                  <button style="background:transparent;border:none;" type="submit">
                      <i class="bx bx-search fs-4 lh-0"></i>
                  </button>
              <input type="text"
                    name="search"
                    class="form-control border-0 shadow-none"
                    placeholder="Search Brain Scan..."
                    aria-label="Search..."
                  />
                </form>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img style="height:40px;" src="@user.Image" alt class="rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="@user.Image" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                    <span class="fw-semibold d-block">@user.FirstName @user.LastName</span>
                            <small class="text-muted">
                                @if(User.IsInRole("User"))
                                {
                                    <span>User</span>
                                }
                                else if (User.IsInRole("Professional"))
                                {
                                  <span>Professional</span>
                                }
                                else if (User.IsInRole("Business"))
                                {
                                                            <span>Business</span>
                                }
                            </small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/account-profile">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    
                    <li>
                      <a class="dropdown-item" href="/user-payments">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Transactions</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/account-logout">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            @RenderBody()
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  © 2024 Cancoly
                  
                </div>
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
 

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://unpkg.com/dcmjs/build/dcmjs.js"></script>
    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="assets/js/dashboards-analytics.js"></script>
    <script>
        new DataTable('#table', {
            dom: 'Bfrtip'
        });
    </script>
    @if (TempData["AlertMessage"] != null)
    {
        <script>
            Swal.fire({
                title: '@TempData["AlertSubject"]!',
                text: '@TempData["AlertMessage"]',
                icon: '@TempData["AlertType"]',
                confirmButtonText: 'Got it!'
            });
        </script>
    }
  </body>
</html>
